
@media screen and (max-width: 400px) /* Mobile */
{
   .container
   {
       display: flex;       
   }
   .header
   {
      margin-left: 140px;
   }
   .headerX
   {
      margin-left: 150px;
   }
   .power
   {
    margin-left: 145px; 

   }
   .MainContainer
   {
       align-content: center;
       align-items: center;
       justify-content: center;
       justify-items: center;

       margin-left: 28px;
   }
   .loadTextWatt
   {
       margin-left: 40px;
   }
   .box
   {
       border: 2px;
       border-width: 2px;
       border-color: black;
       border-radius: 10px;
       margin-left: 20px;
       width: 120px;
       height: 120px;
       border: 20px solid #969696;
       background: #d9dbda;
       margin: 10px;
       margin-left: 50px;

   }
    .dropdowncontainer
    {
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin-left: 40px;
    }
    .loadText
    {
        margin-left: 0px;
    }
   .buttonDIV
   {
    margin-left: 110px;
    margin-top: 50;
    margin-bottom: 30;
   }
}

@media screen and (min-width: 401px) /* Mobile */
{
   .container
   {
       display: flex;       
   }
   .header
   {
      margin-left: 140px;
   }

   .headerX
   {
      margin-left: 150px;
   }
   .power
   {
    margin-left: 155px; 

   }
   .box
   {
    
       width: 120px;
       height: 120px;
       border: 20px solid #969696;
       background: #d9dbda;
       margin: 10px;
       margin-left: 50px;
   }
    .dropdowncontainer
    {
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin-left: 40px;
    }
    .loadText
    {
        margin-left: 0px;
    }
    .loadTextWatt
    {
        margin-left: 35px;
        margin-top: 10px;
    }
    .MainContainer
    {
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;

        margin-left: 28px;
    }
    .buttonDIV
    {
     margin-left: 120px;
     margin-top: 50;
     margin-bottom: 30;
    }
}
